---
import Layout from "../../layouts/Layout.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<Layout title="Blogs">
    <BlogLayout> <div class="empty-blog">Choose from the left</div></BlogLayout>
</Layout>

<style>
    .empty-blog {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-family: "Jacquard 24", monospace;
        font-weight: 400;
        font-size: 6em;
        font-style: normal;
        margin: 0;
    }
</style>
