:root {
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

	--base-hue: 150;
	--base-saturation: 100%;
	--base-light: 50%;
	--base-color: hsl(var(--base-hue), var(--base-saturation), var(--base-light));
	--text-color: var(--base-color);
	--text-shadow: 0 0 16px color-mix(in srgb, currentColor 50%, transparent 50%), 0 0 2px color-mix(in srgb, currentColor 70%, transparent 30%);
	--darker-color: hsl(var(--base-hue), calc(var(--base-saturation)), calc(var(--base-light) - 42%));

	--dimmed-glow-color: hsl(var(--base-hue), calc(var(--base-saturation)), calc(var(--base-light) - 40%));

	--accent: var(--text-color);
	--accent-dark: #000d8a;

	--box-fade: linear-gradient(to bottom,
			hsla(var(--base-hue), calc(var(--base-saturation)), calc(var(--base-light) - 10%), 0.03) 0%,
			hsla(var(--base-hue), calc(var(--base-saturation)), calc(var(--base-light) - 20%), 0.01) 35%,
			rgba(0, 0, 0, 0) 100%);

	/* --box-fade: unset; */

	--border-width: 1px;
	--font-size: 16px;

	--max-width: 1280px;
	--max-height: 960px;
}

@font-face {
	font-family: 'Terminus';
	src: url('/fonts/terminus-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: row;
}

body {
	font-family: 'Terminus', 'Courier New', monospace;
	font-synthesis-weight: none;
	font-variant-ligatures: none;
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-rendering: optimizeLegibility;

	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text-color);
	text-shadow: var(--text-shadow);

	font-size: var(--font-size);
	line-height: 1.5;

	background-color: var(--darker-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
	font-weight: 300;

}

h1 {
	font-size: 2em;
	background: var(--dimmed-glow-color);
	padding: 0.5rem;
	font-size: var(--font-size);
}

h2 {
	font-size: 1.6em;
	background: var(--dimmed-glow-color);
	padding: 0.5rem;
	font-size: var(--font-size);
}

h3 {
	font-size: 1.4em;
	font-size: var(--font-size);
}

h4 {
	font-size: 1.2em;
	font-size: var(--font-size);
}

h5 {
	font-size: 1.1em;
	font-size: var(--font-size);
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin: 0;
	margin-bottom: 1rem;
}

p:last-child {
	margin-bottom: 0;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 1px 6px;
	background-color: var(--dimmed-glow-color);
}

pre {
	padding: 1.5em;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	display: flex;
	height: 0;
	border: none;
	border-top: var(--border-width) dotted var(--dimmed-glow-color);
	margin: 0;
}

ul {
	margin-top: 0;
	padding-left: 1.5rem;
}

button:hover {
	cursor: pointer;

}

.enviz-web-app {
	aspect-ratio: 16/9;
	width: 100%;
	border: 0;
}

.md-section {
	border: var(--border-width) dotted var(--dimmed-glow-color);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	background: var(--box-fade);
}

.md-section h1,
.md-section h2,
.md-section h3,
.md-section h4,
.md-section h5,
.md-section h6 {
	background: none;
	padding: 0;
	margin: 0;
	font-size: var(--font-size);
}

.md-section p {}

/* 
	Content Box
*/

.box {
	display: flex;
	flex-shrink: 0;
	align-items: stretch;

	position: relative;
	border-top: var(--border-width) solid var(--text-color);
	border-bottom: var(--border-width) solid var(--text-color);
	image-rendering: pixelated;
	overflow: hidden;
}

.box::before,
.box::after {
	content: "";
	position: absolute;
	height: calc(1rem / 2);
	left: 0;
	right: 0;

	pointer-events: none;

	border-left: var(--border-width) solid var(--text-color);
	border-right: var(--border-width) solid var(--text-color);
}

.box::after {
	content: "";
	position: absolute;
	top: 0;
}

.box::before {
	content: "";
	position: absolute;
	bottom: 0;
}

.ascii-art {
	font-family: monospace;
	font-synthesis-weight: none;
	font-variant-ligatures: none;
	line-height: 17px;
	padding: 0;
	margin: 0;
	user-select: none;
}