---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h2>Who am I?</h2>
    <p>Hi I do things and they are pretty cool</p>
    <h2>Experience</h2>
    <p>
        I work at Enviz fulltime. Done contract work for super boss games
        and have done volunteer work for Eagle One
    </p>
</Layout>
