---
import Effects from "../components/Effects.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Effects />
		<Header />
		<main>
			<h1>Contact</h1>
			<p>No just yet</p>
		</main>
	</body>
</html>
