---
import Effects from "../components/Effects.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Effects />
		<Header />
		<main>
			<div class="text-container">
				<h1>Jake Korvemaa</h1>
				<p>Software Engineer</p>
			</div>
		</main>
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&family=Tiny5&display=swap");

	html,
	body {
		min-height: 100%;
		margin: 0;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: center;
	}

	main {
		display: flex;
		flex-direction: row;
		align-items: flex-end;

		border: 2px solid var(--text-color);
		gap: 2em;
		image-rendering: pixelated;
		padding: 2em 4em;
		overflow: hidden;

	}

	h1 {
		font-family: "Jacquard 24", system-ui;
		font-weight: 400;
		font-size: 6em;
		font-style: normal;
		margin: 0;
	}

	p {
		font-family: "Tiny5", sans-serif;
		font-size: 1em;
		margin: 0;
		margin-top: -20px;
	}
</style>
