---
import Layout from "../layouts/Layout.astro";
import ScrollView from "../components/ScrollView.astro";
---

<Layout>
	<script slot="head" type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Person",
			"name": "Jake Korvemaa",
			"url": "https://korvema.dev",
			"image": "https://korvemaa.dev/profile.png",
			"jobTitle": "Software Engineer",
			"worksFor": {
				"@type": "Organization",
				"name": "Enviz"
			},
			"nationality": "Australian",
			"birthDate": "2003",
			"sameAs": [
				"https://www.facebook.com/jakekve",
				"https://www.linkedin.com/jakekve",
				"https://github.com/korvema"
			]
		}
	</script>

	<div class="main-view">
		<ScrollView>
			<div style="flex-grow:1;" class="text-container">
				<div class="title-group">
					<pre
						id="ascii-title"> 
                              ▄█    ▄████████    ▄█   ▄█▄    ▄████████                               
                             ███   ███    ███   ███ ▄███▀   ███    ███                               
                             ███   ███    ███   ███▐██▀     ███    █▀                                
                             ███   ███    ███  ▄█████▀     ▄███▄▄▄                                   
                             ███ ▀███████████ ▀▀█████▄    ▀▀███▀▀▀                                   
                             ███   ███    ███   ███▐██▄     ███    █▄                                
                             ███   ███    ███   ███ ▀███▄   ███    ███                               
                         █▄ ▄███   ███    █▀    ███   ▀█▀   ██████████                               
                         ▀▀▀▀▀▀                 ▀                                                    
   ▄█   ▄█▄  ▄██████▄     ▄████████  ▄█    █▄     ▄████████   ▄▄▄▄███▄▄▄▄      ▄████████    ▄████████
  ███ ▄███▀ ███    ███   ███    ███ ███    ███   ███    ███ ▄██▀▀▀███▀▀▀██▄   ███    ███   ███    ███
  ███▐██▀   ███    ███   ███    ███ ███    ███   ███    █▀  ███   ███   ███   ███    ███   ███    ███
 ▄█████▀    ███    ███  ▄███▄▄▄▄██▀ ███    ███  ▄███▄▄▄     ███   ███   ███   ███    ███   ███    ███
▀▀█████▄    ███    ███ ▀▀███▀▀▀▀▀   ███    ███ ▀▀███▀▀▀     ███   ███   ███ ▀███████████ ▀███████████
  ███▐██▄   ███    ███ ▀███████████ ███    ███   ███    █▄  ███   ███   ███   ███    ███   ███    ███
  ███ ▀███▄ ███    ███   ███    ███ ███    ███   ███    ███ ███   ███   ███   ███    ███   ███    ███
  ███   ▀█▀  ▀██████▀    ███    ███  ▀██████▀    ██████████  ▀█   ███   █▀    ███    █▀    ███    █▀ 
  ▀                      ███    ███                                                                  
					</pre>
					<span class="subtitle">
						Software Engineer | Experimentalist
					</span>
					<hr>
					<div class="socials">
						<a
							target="_blank"
							href="https://github.com/korvemaa"
							class="icon bi bi-github"
							><span>GitHub</span>
						</a>
						<a
							target="_blank"
							href="https://linkedin.com/in/jakekve"
							class="icon bi bi-linkedin"><span>LinkedIn</span></a
						>
						<a
							target="_blank"
							href="https://www.youtube.com/@JakeK"
							class="icon bi bi-youtube"><span>YouTube</span></a
						>
					</div>
				</div>
			</div>
		</ScrollView>
	</div>
</Layout>

<style>
	.main-view {
		display: flex;
		flex-grow: 1;
		padding: 1rem;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.title-group {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 2rem;
	}

	#ascii-title {
		font-family: monospace;
		font-synthesis-weight: none;
		font-variant-ligatures: none;
		line-height: initial;
		font-size: 10px;
		padding: 0;
		margin: 0;
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
	}

	.socials .icon {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		font-size: 1.5rem;
		padding: 0.5rem 1rem;
		text-decoration: none;
		gap: 1rem;
		border: var(--border-width) dotted var(--dimmed-glow-color);
	}

	.socials .icon:hover {
		background-color: var(--dimmed-glow-color);
	}

	.socials .icon > span {
		font-size: 1rem;
	}
</style>
