---
import Layout from "../layouts/Layout.astro";
import ScrollView from "../components/ScrollView.astro";
import ExperienceBar from "../components/ExperienceBar.astro";
import Box from "../components/Box.astro";
import { getCollection } from "astro:content";

const now = new Date().getTime();
const experience = (await getCollection("experience")).sort((a, b) => {
	const da = a.data.endDate?.getTime() ?? now;
	const db = b.data.endDate?.getTime() ?? now;
	return db - da;
});
---

<Layout>
	<script slot="head" type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Person",
			"name": "Jake Korvemaa",
			"url": "https://korvema.dev",
			"image": "https://korvemaa.dev/profile.png",
			"jobTitle": "Software Engineer",
			"worksFor": {
				"@type": "Organization",
				"name": "Enviz"
			},
			"nationality": "Australian",
			"birthDate": "2003",
			"sameAs": [
				"https://www.facebook.com/jakekve",
				"https://www.linkedin.com/jakekve",
				"https://github.com/korvema"
			]
		}
	</script>

	<meta
		slot="head"
		property="og:image"
		content={new URL("/profile.png", Astro.url)}
	/>
	<meta slot="head" property="profile:first_name" content="Jake" />
	<meta slot="head" property="profile:last_name" content="Korvemaa" />
	<meta slot="head" property="profile:gender" content="male" />

	<ScrollView useMargin={true} style="scroll-behavior:smooth;">
		<!-- HERO -->
		<section id="home" class="hero">
			<div>
				<div class="hero-content">
					<pre
						id="ascii-title"> 
                              ▄█    ▄████████    ▄█   ▄█▄    ▄████████                               
                             ███   ███    ███   ███ ▄███▀   ███    ███                               
                             ███   ███    ███   ███▐██▀     ███    █▀                                
                             ███   ███    ███  ▄█████▀     ▄███▄▄▄                                   
                             ███ ▀███████████ ▀▀█████▄    ▀▀███▀▀▀                                   
                             ███   ███    ███   ███▐██▄     ███    █▄                                
                             ███   ███    ███   ███ ▀███▄   ███    ███                               
                         █▄ ▄███   ███    █▀    ███   ▀█▀   ██████████                               
                         ▀▀▀▀▀▀                 ▀                                                    
   ▄█   ▄█▄  ▄██████▄     ▄████████  ▄█    █▄     ▄████████   ▄▄▄▄███▄▄▄▄      ▄████████    ▄████████
  ███ ▄███▀ ███    ███   ███    ███ ███    ███   ███    ███ ▄██▀▀▀███▀▀▀██▄   ███    ███   ███    ███
  ███▐██▀   ███    ███   ███    ███ ███    ███   ███    █▀  ███   ███   ███   ███    ███   ███    ███
 ▄█████▀    ███    ███  ▄███▄▄▄▄██▀ ███    ███  ▄███▄▄▄     ███   ███   ███   ███    ███   ███    ███
▀▀█████▄    ███    ███ ▀▀███▀▀▀▀▀   ███    ███ ▀▀███▀▀▀     ███   ███   ███ ▀███████████ ▀███████████
  ███▐██▄   ███    ███ ▀███████████ ███    ███   ███    █▄  ███   ███   ███   ███    ███   ███    ███
  ███ ▀███▄ ███    ███   ███    ███ ███    ███   ███    ███ ███   ███   ███   ███    ███   ███    ███
  ███   ▀█▀  ▀██████▀    ███    ███  ▀██████▀    ██████████  ▀█   ███   █▀    ███    █▀    ███    █▀ 
  ▀                      ███    ███                                                                  
					</pre>

					<pre
						id="ascii-title"
						class="background-ascii"> 
                                                                                      .+@*@-+++*:#*@%.. :.:%+.                                                                                          
                                                                                      #+@@@+@+@@.=@  @*@=@@@@*@                                                                                         
                                                                                @. .@@@-=#:.@.*.==.=-.-=+...:-%%@@                                                                                      
                                                                               @@=#*@@@::=#..:..= -:.... =.:%-.==..*#                                                                                   
                                                                              #@@@@:. -+.#+- *===@@:#+%@@@*%#:*..:......-                                                                               
                                                                             *%--.:..*@@@@@@@@@#=...=.-:-. . .##:+...-@%....                                                                            
                                                                           =-%%%%..=:+##+@#@@#@@%@@%@*+-%@@@@@*=:#+=*@@@-=*%@                                                                           
                                                                         =:++#-..+-+:% :.:*@@##@+:#.  ..:.:.  .:..==+.##+%%.:+                                                                          
                                                                       @@@@%%%#@#%@+:..=-=#--.*%#%%+%+@@##=+=%+.+:..=:.+@%@*%-:#                                                                        
                                                                       *#%@%@%+*#%@:=@@%@@:.:--.-*-##%*...+.=::.@@##@#%@%@@@@@@-@                                                                       
                                                                      *#%+%+%###@%=.#@@%*#=+#:::::.-:.:+*==@@*:::....*.=:+=..-==%.                                                                      
                                                                      #*@#%=*@=*@+.:=+@@+++:-.:..-=##=:=-:+#+=#%%#@@=..#@@+#+*##%%                                                                      
                                                                     %@@@@@@%#*%%#*..=@==#*..-+..=+=..--..=-:.+......+*+++@@@@++%#                                                                      
                                                                     #%@*%%.@*:=@@*%%..:=+=*#=*%@@.@%%#@=:. =@*:- .+*+..=%.#@@@#*+                                                                      
                                                                    :#@%==-*#-####-..%%--:#*=@@==#%@@**+ @@+...:=%@@#+@%@@.%@@@#%*                                                                      
                                                                    #@@@*@+%%@=%+:-..:##+=@@@++*%@*:###@+*-=#=:...=+.+=+-*.#@@@@-#                                                                      
                                                                    #@@@@%#%#@@@#@@#--+=*%%@%+-##-:--++@@%@*#+*#%-...=%=.:-@.%@@::+                                                                     
                                                                    #@@@@@@%@##@@#**+ .*.. #=@@++@*#+#@=.:#=--%-=:-=%*@%.@%-.-%@@%#                                                                     
                                                                    #@@@@@@*%+**%@@%:#.:=@@#%-%@+##%#+-%@-+.#=@**@@##@@-@=@:%##@##+                                                                     
                                                                    #@#%@@@@@@-@%#@#@@#%.*:--+@+.@@*@*=...=%*:-.@@@=.:+-.=@@@@@@+@%                                                                     
                                                                    %@@@@@%%@@=:-+#-%@@%-#-##=+*-*=#%@@@@@:@@%@@@.+==##*.*@@@@@%%%+                                                                     
                                                                    %%@@@#=-#@@@+#@@-@#%*@@@#-@###%@@@@@@@@@%:=.=@@@%@+*%@%@@%%%@@#                                                                     
                                                                    %@@@@@*==*@@@@@@**#@@@@@@=#+####@@*%#*@@%%@%@@#%@##@@@#@@@%%%##                                                                     
                                                                    %@@@@@##==-*@@@+#%%%#%@@=#@@@@%##*++*#+#%@%%@@@@@@@@%*:#@@@@%#%                                                                     
                                                                    #%@#+*##++======+=+#@@@%*#*+*+++*++###+=+*#%%#%@@@***%+=%%%@@@*@                                                                    
                                                                    %@@%%@%***+*++***+++=-=+=+====+++==*+*+**+==#**++++***:=#**@@@%#                                                                    
                                                                    %@@*##%**+****+++**++=+===++++=++++++*+++++==+++=+*%=--:==-%%#@@@##                                                                 
                                                                    @@@#*+***+***+***+++++*+**++*++**++=++++++++++++++*#-:.-#+.+%%@:   .                                                                
                                                                ..=#@@@@===+**+********+***+*****++*++++*+***+++****+#*+..-%#=:@%@@  -#.#                                                               
                                                               *.=:.+@@%-=++*****+*+*+*#*******#*=**+*+++++++**+*++*##**@@@=+-:@@@%*%%@.+                                                               
                                                               @.@@*-@@%-+=+*****+*+++#++****#++*+*++*++++=+**+***#*#=::-=-=+=-@@@-+=#@:@                                                               
                                                                .*@:==@@:*+*+++===++*+*+***+++=***++++====++=+++=-+-..   ..+-+=@@#==-=#=                                                                
                                                                +-%.-:@@:=**+==--=+========++*++*++***+++====------:...:--==:++@@:-++-=                                                                 
                                                                 -=:%##@:=+**%@@@@@@@#*==-::-===+++++*==-::::-=*@@@@@@@@@@@@=:=@@+@@*-#                                                                 
                                                                  *.#@@@*==*%@@%@#%@@@@@@@@@%-:.:-=+====+@@@@@@@@@@@*=:==+##=:-@-%@-:*                                                                  
                                                                   *-::.@=+=+=+=+#@@-*@@@@@@@@@@*-=+=-%@@@###@@@@@ +@@@%*+#*+--@-:%*=                                                                   
                                                                    *+%.#=+++*##%@@%-=@@@*.=*+*@@+=**+##==%@=..=+-%@@#++*##-+#@*=+#-                                                                    
                                                                     +..+%=++**+-==@@*--=-%@@####*++++++%%@@@@%%##*+=++*%%*..%@*+==#                                                                    
                                                                      .-*%++=**++#+*+**%#%%##*####+++*#*##**+++===+=+*+*#*...@#-=::                                                                     
                                                                      -.:=*++++++*+####***+*#*###%+*+*#***+***++*******##- .#@+...                                                                      
                                                                        =+%==+++**#**+#+##***+####**=+#**=*****#*###****-.=%#%@                                                                         
                                                                          %-==++*++#%###******#**#**+**+***+++*+**#****+-=##*+                                                                          
                                                                           :=++=++*****#*#**++*#%@%*+#%*+==++++++*=++=++*%%*+*                                                                          
                                                                           =-+==++*********%@@@@#%#==#%#%@%**+*++=====+++##++@                                                                          
                                                                           @:=#*===+=++++**#+ :.:--::-*@%%%#**++++=++****#+++@#=:.:                                                                     
                                                                            -:*%#%**==*++*+**=+-==-:..:-:-=++*++*+****++##+-%@@@@@--=                                                                   
                                                                             :=**%#@%#***+++*%@@#+=*+*#@@%++====*+++**+**#==@%%@@@@-+#                                                                  
                                                                             +==+*+=+*#####%%%%@@@@@%@@@%%#%%#**##*+**+##=-@@@=@@@.*%%%                                                                 
                                                                              ===##++=%##++++*#%@%#   .@%*#+=++*%**++*#*==@@@@*%@*-%@@%%                                                                
                                                                               #==*#*=**%@@@%++%.  ... *%=-=*#@%*+=+#*==+@@@@@@@@@@@@@@%%                                                               
                                                                               @@%=*###++*#%@@@@ .++#.. %@@@@%%*+++*+=+%@@@@@@@@@@@@@@@@%                                                               
                                                                              #@@@@=-+%#***++#@  --##:.  %#+-===*++++*@@@@@%@@@@@@@@@#@@@%                                                              
                                                                             %@@@@@@@:=+**###@+ ...%%+.:. %%***+**++*@@@@@@=@@@@@@@@%#@@#*                                                              
                                                                            @%@@@@@@@@+-=+*#@@....+@@#=..  @%++*#=+#@@@@@@%@@@@@@@@@*@@#%@@                                                             
                                                                          %#%@*@@@@@@@@%-=+@@ ...+%@@@#...  @%**++%@@@@%%@@@@@@@@@@@*@@*@@=:=                                                           
                                                                        %%%@@@@@@@@@@@@@@*%@  ...*@#*%%=...  @@#+@@@@@@@@@@@@@@@@@@@@@%%*--*@*+*                                                        
                                                                     @@#%@@@@@@@@@@@@@@@@@@  ...:%@@%@@#:.:.  @%@@@@@@@@@@@@@@@@@@@@@+++=*@@@-@=+%#==:                                                  
                                                                   @-*@@@@@@@@@@@@@@@@@@@@ .:-:*#@@@@%@@#=:..  @@@@@@@@@@@@@@@@@@@@@*+-=@@@#+@=.#@@@--@*:                                               
                                                                @%%@+++%@@@@@@@@@@@@@@@@@..+=::.        .#*=-.  @@@@@@@@@@@@@@@@@@@@@@@@@#..@.:@*##.:@*.-+*%..                                          
                                                         #=*-:-==#@@@+***%%@@@@@@@@@@@@@. ........:::::....:=-.  @@@@@@@@@@@@@@@@@@@@@@%.:#@.%@@+*.:@+.%@*=*@@%::+#=#                                   
                                                     *#=+++%@%***+**@@##+%@@@@@@@*@@@@@. ..:=*+:.............::.  @@@@@@@@@@@@@@@@@@@@@@%+#+@@=..:+@=.-#%@%#@:::+%+--%+::=                              
                                               .:=+*%#=%@@@#%@@@@@#*#@@%@@@@@@@@@@@@@@. .###+.::::::.............  @@@@@@@@@@@@@@@@@@@%+@@@%: .*@@@@+-@@=.+@%+#%*+-=@*==+=:.:%                          
                                            *+-++=-=@@*==+@@*+%#+@@@%%@@@@@@%@%@@@@@@ .###................=#*::::.   @@@@@@@@@@@@@@@@@*+===@@@@. *@.@@*@+@@@=#@#+@@@@=*#*++@@+.--                       
                                       %+-:--==#@@@@#*@%@@#+@@@@=%%+*@@%%@@@@@@@@@@@..=.............:::-:....*##*:..  :@@@@@@@@@##@@#=+**@@%#%@@@@:......@..=-.==@%==*#++@@*-+#*-...                    
                                   +==-=*###%@@%#@@#@@@@:@@@=*@@+#@@@@@%%@@@@@@@@@#  .......:=############*=....+###.  .@@@@@@@@%%#+++*##@%***%%%@@@@@@%##:-=..==-.--*=#@+-#%#+-:*@@@-:                 
                                -==*###*+*+++%@@*=@@#@@@*#@@%*%@@@@@@@@@@%@@@@@@#   .-:+##%@@@-...................:+.::..@@@@@@@@#*+****+#***%%#*###*###%@@@@@@@@@@@%%##+=*#*+=@@@=.++.-..              
                             =-**#****++%*==*#@@@@@@@@%@@@@@%@@@@@%%@@%@%@%@@@@   .:.*-#@@%   ..::::::..................  =@@@@@@#***##*%#%%%%####**+***##%#####++***##*#%%#*=+@#*#@@+.#-%%%            
                          =*%#*#**+**++***#@@@@@@@@@@@@@@@@@@@%@@@@@@%@@@%%@@@.-*+:..##=  .*########++#######=.::...::...  .@@@@##***###@@%##*#+++*###%%%%***#***###%#*###+*#%#+#+@@. .@@@.%%           
                        :-:..:+=-%+-+##%%%%@@%@@@@@@@@%@@@@@@@%@@@@@@@@@@@@@@.+:.......-##*..............:@@@@###..#..++-..  @@@#+**##*#*+++++++*##*%%####*##**##%#*##*#***==+%@#+@..#@#@@*+..          
                       +.@@*+++@#=+@@*+=**##@@@@@@@@@@@%@@@@@@@@@@@@@@%@@@@@. ...----=..... .......=####:...=#%%%%##.....-:.  +@@*#*****==+++++*#%#%%###*%##*########*###*=*@@@@@@=-@=@@ .--+@.         
                      -:*.#@@+.@@#@@#@@@-*##%@@%@%@@@@@@@@@@@@@@@@@@@@%@@@@  :##+:....:.=####%@@%%%%%##*---...  -=*#.:=-:..:.  .@@%*****####%%@@@@@@#**#*+**#####*#*###**==@@@@%@#@@@@=..*@@@@@@        
                      #@+--=%@..@@@#@@@@%=*#@@@@@@@@@@@@@@@@%@@@@@@@@@@@@% .-+=......=#%@@@@@@.     ...         ++%#+=..:::::..  %@@##%@@@@@@@@@@@##***+*####***#####*#**=@@@@@@%@@@...-@@@@@# :+       
                     +%@@**@**@*@@@#@@@@@*+*%@@@@@@@@@@@@@@@@@@%@@@@@@@@#  :.....:....    .  .:-...-=+**#######%%*%..::::..:::..  =@@@@@@@@@@@@@%#++**##%%%#######*#*##*+*@@@*:+@@* .=@@@@+..  .:       
                     : .*@===-.@@@@@--@@@@+*#%@@%@@@@@%@@@@@@@@@@@@@@@@=  .....###-:.:+##%@@%*++**##%@@@@@@@@@@%#++  .........::.   @@********=-:=+%#%%##*####********+**@@@*:@@*-#.@-+=:=.#**@%+=      
                   :.@@@%...++:.%%*%#+@@@@*+*#@@@@@@@@@@@@@@@@@@@@@@@@. .:--=###*%%%%%##@# ..@@@@@@@@@@@@%@@%@@.%@%%#*..........::.  %@@@%#++++#%##%####*%*+*#****===+=+=@@@+@*=+*@=@@@@@@+##@@*:*.     
                  -:...@@@@@#@@+**%@@*+@@@@+*#%%@@@@@@@@@@@@@@@@@@@@@. .:::-... .:**+=#@@.  :@@@@@*#@@@@@@@%#@@::##**%%=....:.....:.  +@@%*+==+++*++++====-==-:--=#@@@@##@@@===+%%%#+*#@@##@@@@@@@:.    
                 -.@@@%@#*%@@@*@@*=-#@*@@@@#+=++#%%%%%%%%@@@@@@@@@@@=..........+%%#*%@@%@*.+@@@@@@@+#@@@@@@#%@@@--*%++#%#=....::...... .+@@@@@@@@@@@@@@@@@@@@@@@@@@@##%@@@@:-%@%#%%%=%#%@%@%#@@:.*@+    
                 .@-..#..:*.:=%@@@@%+=*@@@@#@@@@@@@@@@@@@@@@@%@@@@@#........:+%%#+=*#%##%##@@@@@%@@@*@@@@@@##@@@@+-+#==**%%*=....:.....   %@=@%#*#*++**%%+==+====+=***=+@@.=@@@######+#@@*%##@:.#@==    
                =.%@@.*@:.#@@+%%*#%@@@=-@@@@#*#%@@@@@@@@@@@@@@@@@@# ..:::-=%%%#+++*%##*==+@@@@@@@@@@%*@@@@@##@@@@@@+==++=++##%*-::::.....  ..@@@@%*#%@%##**#%####*####+#@@*@@@%%*#@%%+@@@*%#@@..---::   
                @+.#@@@@@@..-#%%*%#+#@@@*@@@##%@@@@@@@@@@@@@@@@@@-  :+*##%%#+*=++*#%*+++@@@@@@@@@@@@@*#@@@%#%@@@@@@@@+=-=++++*##%+........ * =*@:@%%%%#***#%##*####*#*=@@@@@%%+=+%%%#@@@@#%@#.%.*@@@*:  
                .@..*@@@@@@@@@##*@@@#**@@@@@##%@@@@@@@@@@@@@@@@%   .##+++*+*+++**##+==+@@@@@%%%@@@@@@%*@@@%#%@@@@@@@@@@@*++=+***######*...##:+--.@#@@##**%%%###%#%%#***@@@@%*--*@@@*.@%%##@#...++-#@=.  
                #@@...*@:::%@@@@#=+@@@#+@@@@##%%@@@@@@@@@@@::.  ...-*=+****+*+++**=-+@@@@@@@@@@%@@@@@@*.#%##@@@@@@@@@@@@#**+=--=-=+*#@@::#@.@*#::@%.@@###%#####*####*+#@@@=-:=*@@@@@@@@@@@:.%@@@@@@@@@@ 
               :@@@@%:..@@@*#@@@@@=:+@@@@@@@%#%%@@@@@@@@@= %=*..++########***+*++=#@@@@@@@@@@@@@@@@@@@@@@@##@@@@@@@@@%#++#@@#+--=+*#%@+#@@*:@#%-#@  *@-@#####*##%####*@@@@.-+@@@@@.+@%@@@ .+=:....:-.-- 
              .:-+*@@@@@:*@.@@@@@@@@--@@@@@@@#%%%%@@@@@%..-#-#@=.-*+++++*+*++==+@@@@@@@%@@@@@@@@@@@@@@@%@@@%@@@@@@@@@%@%@@@@@@@@*+*@@-#@@% %%%=-%@.%*@-@@@@@%#%####%#+@@#.*@@@@@@+@@@%@..*@@@@@@@@*-::.:
              .=+..-::*=..-@@+-=-=*@@#-=@@@@@%%%@%@@@@ -.-#%@#%@@#@-=+=++=++++@@@@@%@@@@@@%@%%@%%%%%@@@%@@%%@@@@@@@@@@@%%@@#*%@@@@@=.@@@# *#*-%@@..#@. @.@ :%+#**##*+%@@@@@@@@@#.@@#*@..+#+===-::#@@@@@%
              %@+#+=+-=%@@*:-@@@@@@@@@%+-%@@@%%%@@@@-. %** @%@@@@@@@%#+#%*+#@@@@@@@@@@@@@@@@@@@%@@@@@@@#@@@%@@@@@@@@%@@%@%#-@@@@@@:#@@@@ :+#*.-@@.@@=@=@.@@%@**##%%#*@@@@%:-....@@@*@-%@#=-:=#@@@+...@@.
             .+@@%@@@@#+-:-:.:-+%@@@@@@@@@@@@@%%@@@. %+@## %@@@@@@@@@*+##*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@#@@@@@@@@@@@%##+#@@%@-+@@@@* =@@#-@@@@@+@.%@%=:@:@@@#+*#*#@@+:%@@+%%-@@*#%.#@@@@@@@%++#%@@@#.
             @*:@@#:.#@%@@%#=##=:....-*@@@@@@%%@@@.#.@*@##: @@@@@@@@@%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%%#@@@@@@@@%#****-@@*%%%@@@#+#@@@*#@@@ :@%*%@@*-=#*=@@@@%@##@@@@@#:#%*:@@%#@@*=#%@@@@@@@@@@%-:.
             -@@- .-.....:*=*@%#%@@@@@+:.:*@@@@@%+@@.@@+@@@..@@@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@#@@@@@@@@***#%%+@@@@@@@**%@@@@@@@@@%--%--%@*%.+@=:.+@@#*@@@@@@-=@@#:@@#%@@@@@%*:....#@@@:=%*.
            @@.##..=+@@@@@@%@@%%#%@@@@@@@@##@@@-.-@@.=@=%@@@=.@@@@@@@@@@%###*@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@#@@@@@@###@@%#%#@@@@-..=@@@@@@@@@@*@@@.@@:@#@@@.-@+*+@.:*@@@.=%@@*-@%%##@@@@@@@@@@@@@@..#@@@@
           -.. .@@@@@@: ..#%@@@@#=::-%@@@@@@@@.=+=#@+:@@@@@@@@:.#@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@@%%@@#@@@@@@@@@@@@@@@##%@@@@@@@@%%@@@@@.@@:*=@+@@@@=%**=+%#.*%*%@#%%%#-@@@@@@@@@-..-+%@@@..-@@=:..
           ..@@@@#.  .-@@@@@@@@@@@@*-:.+@@@@=..#%@@@@#-#@@@@@@@@-..%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@%@@@%@@@@@%%##******+*#@@@@@@@@@@@@@%%@.@@@:=@@@@@@@#+*=@..#=*=@@@@#:@@@@**###@@@@@@@@@@@@@**#@@.
           .#..   .*@@@@%@@@@@@@@@@@@%+:.. . ..::-+-@#+-%%%%%@@@@@@=--+#@%%@@@@@@@@@@@@%%@%@@@@@%@%@%#@##****%###*++==------:..+%%%%%%%@%##%%.:#@%-*@+%#%@@@..... .....= =.**-.....:..   .      ......--
					</pre>
					<span class="subtitle">
						Software Engineer | Experimentalist
					</span>
					<hr />
					<div class="socials">
						<a
							target="_blank"
							href="https://github.com/korvemaa"
							class="icon bi bi-github"
							><span>GitHub</span>
						</a>
						<a
							target="_blank"
							href="https://linkedin.com/in/jakekve"
							class="icon bi bi-linkedin"><span>LinkedIn</span></a
						>
						<a
							target="_blank"
							href="https://www.youtube.com/@JakeK"
							class="icon bi bi-youtube"><span>YouTube</span></a
						>
					</div>
				</div>
			</div>
		</section>
		<!-- CONTENT -->
		<div id="about" class="view-content">
			<section id="motd-section">
				MOTD: When you force a melon from the vines, it won't be sweet.
			</section>
			<section id="about-section">
				<Box title="About">
					I'm a software engineer with a genuine passion for creating,
					improving, and understanding software. I enjoy the whole
					process; learning, experimenting, refining, and putting real
					care into what I build. Good engineering, to me, comes from
					balancing design with discipline and respecting the
					fundamentals. I'm always looking for opportunities to keep
					growing and contribute to work that actually matters.
				</Box>
				<Box title="Skills">
					<span>
						I work primarily with C# and Unity, focusing on systems
						work and practical tooling. I've built source
						generators, IL-driven utilities, and data-driven asset
						pipelines, and I handle web technologies when the
						project calls for it. My approach centres on practical
						problem-solving, clear communication, and taking
						ownership from early concept through to completion. You
						can see examples of my work in my
						<a href="/projects">projects</a> page, which demonstrate
						the skills and solutions I bring to real projects.
					</span>
				</Box>
			</section>
			<section>
				<Box title="Experience" style="gap: 1rem;">
					{
						experience.map((job) => {
							return <ExperienceBar experience={job} />;
						})
					}
				</Box>
			</section>
			<section>
				<Box
					title="Theme"
					style="display:flex; flex-direction: row; flex-wrap: wrap; gap: 1rem;"
				>
					<button onclick="window.setHue(150)">Green</button>
					<button onclick="window.setHue(40)">Amber</button>
					<button onclick="window.setHue(190)">Cyan</button>
					<button onclick="window.setHue(310)">Pink</button>
					<button onclick="window.setHue(0)">Red</button>
				</Box>
			</section>
		</div>
	</ScrollView>
</Layout>

<script defer>
	const container = document.getElementById("scroll-view");
	function updateHeroHeight() {
		const height = container.offsetHeight;
		document.documentElement.style.setProperty(
			"--hero-height",
			`${height * 0.9}px`,
		);
	}

	updateHeroHeight();
	window.addEventListener("resize", updateHeroHeight);
</script>

<script defer>
	const motd = document.getElementById("motd-section");
	const proverbs = [
		"When you force a melon from the vines, it won't be sweet.",
		"A man who plants melons will harvest melons, and a man who plants beans will harvest beans.",
		"When you drink the water, remember the spring as the source of the water.",
		"Constant dripping wears away a stone.",
		"It takes more than one cold day for the river to freeze three feet deep.",
		"Just as distance tests a horse's strength, time can reveal a person's heart.",
		"Good medicine tastes bitter.",
		"The timber's already a boat; the rice is cooked.",
		"Great wisdom can seem foolish.",
		"Water drops pierce stone; rope saws cut wood.",
		"Blessings come in disguise.",
		"If you don't do stupid things you won't end up in tragedy.",
		"If small holes aren't fixed, then big holes will bring hardship.",
		"It's better to walk thousands of miles than to read thousands of books.",
		"Too many cooks spoil the broth.",
		"Every step makes a footprint.",
		"Ignorance is bliss.",
		"Disaster comes from the careless talk.",
		"You reap what you sow.",
		"Those who just want speed don't succeed.",
		"A book is a pocket garden.",
		"An inch of time is worth an inch of gold, but an inch of gold may not buy an inch of time.",
		"Flowers may bloom again; you're never young again.",
		"A blind horse always frightens itself.",
		"Different locks must be opened with different keys.",
		"Dig the well before you are thirsty.",
		"The best time to plant a tree was 20 years ago. The second best time is now.",
		"The journey of a thousand miles begins with one step.",
		"An ant's hole can cause the collapse of a dam.",
		"Three parts fate, seven parts hard work.",
		"Give a man a fish, and you feed him for a day; teach a man to fish, and you feed him for a lifetime.",
		"When drinking water, think of its source.",
		"Do not impose on others what you yourself do not desire.",
		"Those who know do not speak, those who speak do not know.",
	];

	function getRandom(min, max) {
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	motd.textContent = "MOTD: " + proverbs[getRandom(0, proverbs.length - 1)];
</script>

<style>
	:root {
		--hero-height: 0;
	}

	.hero > div {
		display: flex;
		position: relative;
		flex-grow: 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-align: center;
		border: var(--border-width) dotted var(--dimmed-glow-color);
		margin: 1rem;
	}

	.hero {
		display: flex;
		flex-direction: column;
		min-height: var(--hero-height);

		flex: 0 0 auto;
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.view-content {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		padding-top: 0;
		gap: 1rem;
	}

	section#motd-section {
		border: var(--border-width) dotted var(--dimmed-glow-color);
		padding: 1rem;
		margin-bottom: 0;
	}

	.view-content section {
		flex-grow: 1;
	}

	.view-content section#about-section {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1rem;
	}

	button {
		appearance: none;
		background: none;
		color: var(--text-color);
		text-shadow: var(--text-shadow);
		font-family: "Terminus";

		padding: 1rem;
		border: var(--border-width) dotted var(--dimmed-glow-color);
	}

	button:hover {
		background-color: var(--dimmed-glow-color);
	}

	#ascii-title {
		font-family: monospace;
		font-synthesis-weight: none;
		font-variant-ligatures: none;
		line-height: 1;
		font-size: 10px;
		padding: 0;
		margin: 0;
	}

	@media (max-width: 650px) {
		#ascii-title:not(.background-ascii) {
			font-size: 8px;
		}
	}

	@media (max-width: 550px) {
		#ascii-title:not(.background-ascii) {
			font-size: 6px;
		}
	}

	@media (max-width: 450px) {
		#ascii-title:not(.background-ascii) {
			font-size: 5px;
		}
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
	}

	.socials .icon {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		font-size: 1.5rem;
		padding: 0.5rem 1rem;
		text-decoration: none;
		gap: 1rem;
		border: var(--border-width) dotted var(--dimmed-glow-color);
	}

	.socials .icon:hover {
		background-color: var(--dimmed-glow-color);
	}

	.socials .icon > span {
		font-size: 1rem;
	}

	.background-ascii {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;

		top: 0;
		bottom: 0;
		right: -300px;

		user-select: none;
		z-index: -50;
		position: absolute;

		text-align: center;
		color: var(--dimmed-glow-color);
		opacity: 0.6;
		font-size: 10px;
	}

	@media (max-width: 550px) {
		.background-ascii {
			left: 0;
			right: 0;
		}
	}
</style>
