---
import Layout from "../layouts/Layout.astro";
import ScrollView from "../components/ScrollView.astro";
---

<Layout title="Home">
	<div class="main-view">
		<ScrollView>
			<div style="flex-grow:1;" class="text-container">
				<div class="title-group">
					<span class="title">Jake Korvemaa</span>
					<span class="subtitle">
						Software Engineer | Experimentalist
					</span>
					<div class="underline"></div>
					<div class="socials">
						<a
							target="_blank"
							href="https://github.com/korvemaa"
							class="icon bi bi-github"
							><span>GitHub</span>
						</a>
						<a
							target="_blank"
							href="https://linkedin.com/in/jakekve"
							class="icon bi bi-linkedin"><span>LinkedIn</span></a
						>
						<a
							target="_blank"
							href="https://www.youtube.com/@JakeK"
							class="icon bi bi-youtube"><span>YouTube</span></a
						>
					</div>
				</div>
			</div>
		</ScrollView>
	</div>
</Layout>

<style>
	.main-view {
		display: flex;
		flex-grow: 1;
		padding: 1rem;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.title-group {
		display: flex;
		flex-direction: column;
	}

	.title {
		font-family: "Jacquard 24", monospace;
		font-weight: 400;
		font-size: 6em;
		font-style: normal;
		margin: 0;
	}

	.subtitle {
		font-family: "Tiny5", monospace;
		margin: 0;
		margin-top: -40px;
	}

	.underline {
		margin: 2rem 0;
		display: flex;
		background-color: var(--dimmed-glow-color);
		height: 2px;
		flex-grow: 1;
	}

	.socials {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.socials .icon {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		font-size: 1.5rem;
		padding: 1rem;
		text-decoration: none;
		gap: 1rem;
	}

	.socials .icon:hover {
		background-color: var(--dimmed-glow-color);
	}

	.socials .icon > span {
		font-size: 1rem;
	}
</style>
