---
import Layout from "../layouts/Layout.astro";
import ScrollView from "../components/ScrollView.astro";
import { getCollection } from "astro:content";

const experience = (await getCollection("project"))
    .filter((e) => e.data.group == "Motorsport")
    .sort((a, b) => {
        const da = a.data.date?.getTime() ?? 100;
        const db = b.data.date?.getTime() ?? 100;
        return db - da;
    });
---

<Layout title="Home">
    <ScrollView useMargin={true}>
        <div class="content">Vroom Vroom</div>
    </ScrollView>
</Layout>

<style>
    .content {
        padding: 1rem;
    }
</style>
