---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Theme">
	<div style="flex-grow:1;" class="text-container">
		<div class="text-container">
			<h1>Themes will be here soon</h1>
		</div>
	</div>
</Layout>

<style>
	.text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>

