---
const { title, style, ...props } = Astro.props;
---

<div {...props} class="box-root">
    <section style={style}>
        <div class="header">
            <hr style="width: 1rem; flex-grow: 0;" />
            <h2>{title}</h2>
            <hr />
        </div>
        <slot />
    </section>
</div>

<style>
    .box-root {
        display: flex;
        flex-grow: 1;
    }

    section {
        position: relative;

        display: flex;
        flex-grow: 1;

        flex-direction: column;
        border: var(--border-width) dotted var(--dimmed-glow-color);
        border-top: 0;

        flex-shrink: 1;

        padding: 1rem;
        padding-top: 1.25rem;
        margin-top: 0.5rem;
    }

    section .header hr {
        flex-grow: 1;
        margin: 0;
    }

    section .header {
        position: absolute;
        left: 0;
        right: 0;

        min-width: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        top: 0;
    }

    section .header h2 {
        background-color: unset;
        font-size: 1.125rem;
        padding: 0 1rem;
        margin: 0;
        margin-top: -0.5rem;
    }
</style>
