---
const { href } = Astro.props;

const url = new URL(href);
const domain = url.hostname;

function getDetails() {
    switch (domain) {
        case "www.artstation.com":
            return { name: "ArtStation", icon: "link" };
        case "steamcommunity.com":
            return { name: "Steam Workshop", icon: "steam" };
        case "store.steampowered.com":
            return { name: "Steam Store", icon: "steam" };
        case "enviz.co":
            return { name: "Enviz", icon: "link" };
        case "play.google.com":
            return { name: "Google Play Store", icon: "google-play" };
        case "apps.apple.com":
            return { name: "Apple App Store", icon: "apple" };
    }

    return { name: domain, icon: "link" };
}

const { name, icon } = getDetails();
---

<a target="_blank" href={href} class={"icon bi bi-" + icon}>
    <span>
        {name}
    </span>
</a>

<style>
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;

        padding: 8px;
        gap: 16px;
        border: var(--border-width) dotted var(--dimmed-glow-color);
    }

    a:hover {
        background-color: var(--dimmed-glow-color);
    }
</style>
