---
import HeaderLink from "./HeaderLink.astro";

let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
if (pathname == "") pathname = "index";
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
		<input id="hue-slider" type="range" min="0" max="360" value="180" />
	</nav>
</header>

<script>
	const slider = document.getElementById("hue-slider") as HTMLInputElement;

	// Get the current CSS variable, whether it's inline or from a stylesheet
	const rootStyles = getComputedStyle(document.documentElement);
	slider.value = rootStyles.getPropertyValue("--base-hue").trim() || "180";

	slider.addEventListener("input", () => {
		document.documentElement.style.setProperty("--base-hue", slider.value);
	});
</script>
<style>
	header {
		margin: 0;
		align-self: stretch;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.internal-links {
		display: flex;
	}

	nav a {
		
		text-transform: uppercase;
		padding: 0.5em 1.2em;
		color: var(--black);
		text-decoration: none;
	}

	nav a:hover {
		background-color: var(--dimmed-glow-color);
		text-shadow: none;
		color: black;

		text-decoration: none;
	}

	nav a.active {
		background-color: var(--text-color);
		text-shadow: none;
		color: black;

		text-decoration: none;
	}
</style>
