---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";

let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
if (pathname == "") pathname = "index";
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		text-transform: uppercase;
		padding: 0.5em 1em;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		background-color: var(--text-color);
		text-shadow: none;
		color: black;

		text-decoration: none;
	}
</style>
