---
import HeaderLink from "./HeaderLink.astro";
import { THEME_HUE_KEY, SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";

let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
if (pathname == "") pathname = "index";
---

<header>
	<nav>
		Jake Korvemaa
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		<div class="internal-links">
			<label
				for="hue-slider"
				id="hue-icon"
				class="material-symbols-outlined">colors</label
			>
			<input id="hue-slider" type="range" min="0" max="360" value="180" />
		</div>
	</nav>
</header>

<script define:vars={{ THEME_HUE_KEY }}>
	document.getElementById("hue-icon").addEventListener("click", () => {
		setHue(150);
	});

	const slider = document.getElementById("hue-slider");
	const rootStyles = getComputedStyle(document.documentElement);
	const hueValue =
		localStorage.getItem(THEME_HUE_KEY) ||
		rootStyles.getPropertyValue("--base-hue") ||
		"150";

	slider.value = hueValue;
	slider.addEventListener("input", () => {
		setHue(slider.value);
	});

	function setHue(value) {
		slider.value = value;
		document.documentElement.style.setProperty("--base-hue", value);
		localStorage.setItem(THEME_HUE_KEY, value);
	}
</script>
<style>
	header {
		margin: 0;
		align-self: stretch;
	}
	#hue-icon {
		cursor: pointer;
	}

	#hue-slider {
		margin: 0;
		margin-left: 8px;
		appearance: none;
		width: 100%;
		height: 4px;
		background-color: var(--dimmed-glow-color);
	}

	#hue-slider::-webkit-slider-thumb {
		cursor: pointer;
		transition: none;
		background-color: var(--text-color);
		appearance: none;
		width: 8px;
		height: 14px;
	}

	#hue-slider::-moz-range-thumb {
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.internal-links {
		display: flex;
		align-items: center;
	}

	nav a {
		padding: 0.5rem 1.2rem;
		font-size: 1em;
		color: var(--black);
		text-decoration: none;
		text-transform: uppercase;
	}

	nav a:hover {
		background-color: var(--dimmed-glow-color);
	}

	nav a.active {
		background-color: var(--text-color);
		text-shadow: none;
		color: black;

		text-decoration: none;
	}
</style>
