---
import { getImage } from "astro:assets";

const { title, thumbnail, imageCount, videoCount } = Astro.props;

const image = thumbnail != null ? await getImage({ src: thumbnail }) : null;
---

<div class="project-tile">
    <div class="thumbnail" style={`background-image: url(${image?.src});`}>
        <div class="count-container">
            {
                imageCount > 0 && (
                    <span class="count-icon bi bi-card-image">
                        <span>{imageCount}</span>
                    </span>
                )
            }
            {
                videoCount > 0 && (
                    <span class="count-icon bi bi-youtube">
                        <span>{videoCount}</span>
                    </span>
                )
            }
        </div>
    </div>
    <h3 class="title">{title}</h3>
</div>

<style>
    .project-tile {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border: var(--border-width) dotted var(--dimmed-glow-color);
    }

    .thumbnail {
        display: flex;
        aspect-ratio: 1/1;
        flex-grow: 1;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1rem;

        image-rendering: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .count-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .count-icon {
        display:
         flex;
        flex-grow: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .image-count-icon span {
        text-decoration: none;
    }

    .title {
        display: flex;
        background-color: var(--text-color);
        color: black;
        text-shadow: none;
        font-weight: bold;
        padding: 0.5rem;
        margin: 0;
        font-size: 1.125rem;

        text-align: left;
        justify-content: flex-start;
        align-items: center;
    }
</style>
