---
const { ...props } = Astro.props;
---

<div id="scroll-view" {...props}>
    <slot />
</div>

<style>
    #scroll-view {
        display: flex;
        position: relative;
        flex-direction: column;
        max-height: 100%;
        min-height: 0;
        flex-grow: 1;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #scroll-view::-webkit-scrollbar {
        margin: 1rem;
        width: var(--border-width);
    }

    #scroll-view::-webkit-scrollbar-track {
        margin: 2rem;
    }

    #scroll-view::-webkit-scrollbar-track-piece {
        background-color: var(--dimmed-glow-color);
    }

    #scroll-view::-webkit-scrollbar-thumb {
        background-color: var(--text-color);
    }
</style>
