---
const { useMargin, usePad, ...props } = Astro.props;
---

<div
    id="scroll-view"
    class={"scroll-view " +
        (useMargin ? "use-margin " : "") +
        (usePad ? "use-padding " : "")}
    {...props}
>
    <slot />
</div>

<script>
    const scrollViews = document.querySelectorAll<HTMLElement>(".scroll-view");

    function updateScrollbarPadding(div: HTMLElement) {
        if (div.scrollHeight > div.clientHeight) {
            div.classList.add("scrollbar-active");
        } else {
            div.classList.remove("scrollbar-active");
        }
    }

    // loop through all scroll views
    scrollViews.forEach((div) => {
        updateScrollbarPadding(div);
        // optional: observe content changes
        const observer = new MutationObserver(() =>
            updateScrollbarPadding(div),
        );
        observer.observe(div, {
            childList: true,
            subtree: true,
            characterData: true,
        });
    });

    // update on resize for all
    window.addEventListener("resize", () => {
        scrollViews.forEach(updateScrollbarPadding);
    });
</script>

<style>
    #scroll-view {
        display: flex;
        position: relative;
        flex-direction: column;
        max-height: 100%;
        min-height: 0;
        flex-grow: 1;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #scroll-view::-webkit-scrollbar {
        margin: 1rem;
        width: var(--border-width);
    }

    #scroll-view.use-margin::-webkit-scrollbar-track {
        margin: 2rem;
    }

    #scroll-view::-webkit-scrollbar-track-piece {
        background-color: var(--dimmed-glow-color);
    }

    #scroll-view::-webkit-scrollbar-thumb {
        background-color: var(--text-color);
    }

    #scroll-view.use-padding.scrollbar-active {
        padding-right: 1rem;
    }
</style>
