---
import { getImage } from "astro:assets";
const { title, thumbnail, date, body, subtitle } = Astro.props;

const image =
    thumbnail != null ? await getImage({ src: thumbnail, width: 1024 }) : null;
---

<article class="tile">
    <div class="masked">
        <div class="thumbnail" style={`background-image: url(${image?.src});`}>
        </div>
    </div>
    <div class="body">
        <div style="display: flex; flex-direction:  row;">
            <h2>{title}</h2>
        </div>
        {
            (body || subtitle) && (
                <hr/>
                <div style="display: flex; justify-content: space-between;">
                    {body && <span>{body}</span>}
                    {subtitle && <span class="age">{subtitle}</span>}
                </div>
            )
        }
    </div>
</article>

<style>
    .tile {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        border: var(--border-width) dotted var(--dimmed-glow-color);
    }

    .masked {
        mask-image: linear-gradient(to bottom, black 60%, transparent 97%);
    }

    h2 {
        background-color: transparent;
        font-size: var(--font-size);
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-grow: 1;
    }

    .tile:hover {
        background-color: var(--dimmed-glow-color);
    }

    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        padding-top: 0;
        gap: 0.5rem;
    }

    .age {
        display: flex;
        align-self: flex-end;
        opacity: 0.4;
    }

    .thumbnail {
        /* Weird aspect ratio cause I wanted to hide the intruder logo */
        aspect-ratio: 10/5;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
