---
import { getCollection } from "astro:content";
import Layout from "@layout/Layout.astro";
import ScrollView from "@component/ScrollView.astro";
import ProjectTile from "@component/ProjectTile.astro";
import Breadcrumbs from "@component/Breadcrumbs.astro";

const projects = (await getCollection("project"))
    .filter((e) => e.data.group == "Eagle One")
    .sort((a, b) => {
        const da = a.data.date?.getTime() ?? 100;
        const db = b.data.date?.getTime() ?? 100;
        return db - da;
    });
---

<Layout title="Eagle One">
    <Breadcrumbs routes={[{href: "/", name: "Home"}]} active="Eagle One"></Breadcrumbs>
    <ScrollView>
        <div class="content">
            <section>
                <h1>Eagle One</h1>
                <hr />
                A collection of exceptionally talented developers and artists. I was an advisor, programmer and environment artist for a variety of projects.
            </section>
            <section id="projects">
                <h1>Alyx Bond</h1>
                <hr />
                A multi-part campaign series about Alyx being a spy. Heavily inspired by Goldeneye.
                <div class="grid">
                    {
                        projects.map((post) => {
                            return (
                                <a href={`/projects/${post.id}`}>
                                    <ProjectTile project={post} />
                                </a>
                            );
                        })
                    }
                </div>
            </section>
        </div>
    </ScrollView>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: var(--border-width) dotted var(--dimmed-glow-color);
        overflow: hidden;
        gap: 0.5rem;

        background: var(--box-fade);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
        gap: 1rem;
    }

    section#projects a {
        text-decoration: none;
        display: flex;
        flex-grow: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }
</style>

