---
import Layout from "../../layouts/Layout.astro";
import ScrollView from "../../components/ScrollView.astro";
import ProjectTile from "../../components/ProjectTile.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("project");

// 1. Sort by date (assuming `data.order` is your date/order field)
posts.sort((a, b) => {
    const da = a.data.date?.getTime() ?? 100;
    const db = b.data.date?.getTime() ?? 100;
    return db - da;
});

---

<Layout title="Projects">
    <ScrollView style="visibility:hidden" useMargin={true}>
        <div class="main-view">
            <div class="project-grid">
                {posts.map((post) => {
                    return (
                        <a href={`/projects/${post.id}`}>
                            <ProjectTile project={post} />
                        </a>
                    );
                })}
            </div>
        </div>
    </ScrollView>
</Layout>

<script>
    const scroller = document.getElementById("scroll-view") as HTMLElement;
    const key = `scroll:${location.pathname}`;

    function save() {
        sessionStorage.setItem(key, scroller.scrollTop.toString());
    }

    function restore() {
        const pos = sessionStorage.getItem(key);
        if (pos) scroller.scrollTop = Number(pos);
    }

    restore();
    scroller.style.visibility = "visible";

    window.addEventListener("beforeunload", save);
</script>

<style>
    .main-view {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    .project-grid {
        flex-direction: column;
        text-decoration: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 1rem;
    }

    .project-grid a {
        text-decoration: none;
    }
</style>
