---
import { getCollection } from "astro:content";
import Layout from "@layout/Layout.astro";
import ScrollView from "@component/ScrollView.astro";
import ProjectTile from "@component/ProjectTile.astro";
import SimpleProjectTile from "@component/SimpleProjectTile.astro";

const personalProjects = (await getCollection("project"))
    .filter((e) => e.data.group === "Personal")
    .sort((a, b) => {
        const da = a.data.date?.getTime() ?? 100;
        const db = b.data.date?.getTime() ?? 100;
        return db - da;
    });

const now = new Date().getTime();
const experience = (await getCollection("experience")).sort((a, b) => {
    const da = a.data.endDate?.getTime() ?? now;
    const db = b.data.endDate?.getTime() ?? now;
    return db - da;
});
---

<Layout title="Projects">
    <ScrollView>
        <div class="content">
            <section id="experience">
                <h1>Professional Work</h1>
                <hr />
                <div class="grid">
                    {
                        experience.map((company) => (
                            <a href={company.data.projects}>
                                <SimpleProjectTile
                                    title={company.data.name}
                                    thumbnail={
                                        company.data.thumbnail ||
                                        company.data.icon
                                    }
                                />
                            </a>
                        ))
                    }
                </div>
            </section>
            <section id="projects">
                <h1>Personal Projects</h1>
                <hr />
                <div class="grid">
                    {
                        personalProjects.map((post, index) => {
                            return (
                                <a href={`/projects/${post.id}`}>
                                    <ProjectTile project={post} />
                                </a>
                            );
                        })
                    }
                </div>
            </section>
        </div>
    </ScrollView>
</Layout>

<style>
    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: var(--border-width) dotted var(--dimmed-glow-color);
        overflow: hidden;
        gap: 0.5rem;
        background: var(--box-fade);
    }

    section .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
        gap: 1rem;
    }

    section .grid a {
        text-decoration: none;
        flex-grow: 1;
        display: flex;
    }
</style>
