---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];
const { title, description, date, image } = Astro.props;
---

<article>
	<div class="prose">
		<span class="blog-content">
			<slot />
		</span>
	</div>
</article>