---
import Effects from "../components/Effects.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            image={image}
            title={title}
            description={description || SITE_DESCRIPTION}
        >
            <slot name="head" />
        </BaseHead>
    </head>
    <body>
        <Effects />
        <div class="content-container">
            <Header />
            <main>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;

        display: flex;
    }

    body {
        flex-direction: column;
        align-items: stretch;
        overflow: auto;
        flex-grow: 1;
        
        min-width: 0;
        max-width: 1440px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-height: 0;
        margin: 1em;
        align-items: stretch;
        justify-content: center;
    }

    main::before,
    main::after {
        content: "";
        position: absolute;
        height: 1rem;
        left: 0;
        right: 0;

        border-left: var(--border-width) solid var(--text-color);
        border-right: var(--border-width) solid var(--text-color);
    }

    main::after {
        content: "";
        position: absolute;
        top: 0;
    }

    main::before {
        content: "";
        position: absolute;
        bottom: 0;
    }

    main {
        position: relative;

        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: stretch;
        border-top: var(--border-width) solid var(--text-color);
        border-bottom: var(--border-width) solid var(--text-color);

        image-rendering: pixelated;

        min-height: 0;
        max-height: 1080px;
        overflow: hidden;
    }
</style>
