---
import Effects from "../components/Effects.astro";
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";

const { title, description, namespace } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={title}
            description={description || SITE_DESCRIPTION}
            namespace={namespace}
        >
            <slot name="head" />
        </BaseHead>
    </head>
    <body>
        <Effects />
        <div class="website">
            <div class="height-restrict">
                <div style="display: flex; gap: 1rem;">
                    <span> KORVEMAA INDUSTRIES (TM) TERMINAL LINK </span>
                    <div style="display:flex;flex-grow:1;"></div>
                    <span id="current-time" style="opacity:0.4">9:50PM</span>
                    <span> SERVER 03 </span>
                </div>
                <div class="content">
                    <div class="box">
                        <Navigation />
                    </div>
                    <main class="box">
                        <slot />
                    </main>
                </div>
                <Footer />
            </div>
        </div>
    </body>
</html>

<script defer>
    function updateClock() {
        document.getElementById("current-time").textContent =
            "SYD " +
            new Date().toLocaleTimeString("en", {
                timeZone: "Australia/Sydney",
                timeStyle: "short",
            });

        setTimeout(updateClock, 10000);
    }

    updateClock();
</script>

<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;

        display: flex;

        /* Prevent crappy overscroll on iOS */
        overscroll-behavior: none;
        -webkit-user-drag: none;
    }

    body {
        flex-direction: column;
        align-items: stretch;
        overflow: auto;
        flex-grow: 1;

        min-width: 0;
        max-width: var(--max-width);
    }

    .website {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-height: 0;
        margin: 1rem;
        align-items: stretch;
        justify-content: center;
        gap: 0.5rem;
    }

    .height-restrict {
        display: flex;
        flex-direction: column;
        min-height: calc(min(100%, var(--max-height)));
        max-height: var(--max-height);
    }

    .content {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        min-height: 0;
        align-items: stretch;
        justify-content: center;
        gap: 0.5rem;
    }

    main {
        position: relative;

        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: stretch;
        border-top: var(--border-width) solid var(--text-color);
        border-bottom: var(--border-width) solid var(--text-color);

        image-rendering: pixelated;

        overflow: hidden;
    }

    @media (max-width: 550px) {
        .website {
            margin: 0.5rem;
        }
    }
</style>
