---
import Effects from "../components/Effects.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Effects />
        <Header />
        <main>
            <div id="scroll-container">
                <slot />
            </div>
        </main>
        <Footer />
    </body>
</html>

<style>
    html,
    body {
        min-height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        flex-grow: 1;

        max-width: 1440px;
    }

    main {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-direction: column;

        border: 2px solid var(--text-color);
        image-rendering: pixelated;
        padding: 0em 1em;
        height: 840px;
    }

    #scroll-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex-grow: 1;
        padding: 1em 0;
        padding-bottom: 0;
        padding-right: 1em;
    }

    #scroll-container::-webkit-scrollbar {
        margin: 1em;
    }

    #scroll-container::-webkit-scrollbar-track {
        margin: 1em;
        background-color: blue;
    }

    #scroll-container::-webkit-scrollbar-track-piece {
        background-color: var(--dimmed-glow-color);
    }

    #scroll-container::-webkit-scrollbar-thumb {
        background-color: var(--text-color);
    }
</style>
